/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.shipeasy.admin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.shipeasy.admin.models.CreateOpsCommentRequest
import ai.shipeasy.admin.models.CreateOpsCommentResponse
import ai.shipeasy.admin.models.Error
import ai.shipeasy.admin.models.ListOpsCommentsResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.shipeasy.admin.infrastructure.ApiClient
import ai.shipeasy.admin.infrastructure.ApiResponse
import ai.shipeasy.admin.infrastructure.ClientException
import ai.shipeasy.admin.infrastructure.ClientError
import ai.shipeasy.admin.infrastructure.ServerException
import ai.shipeasy.admin.infrastructure.ServerError
import ai.shipeasy.admin.infrastructure.MultiValueMap
import ai.shipeasy.admin.infrastructure.PartConfig
import ai.shipeasy.admin.infrastructure.RequestConfig
import ai.shipeasy.admin.infrastructure.RequestMethod
import ai.shipeasy.admin.infrastructure.ResponseType
import ai.shipeasy.admin.infrastructure.Success
import ai.shipeasy.admin.infrastructure.toMultiValue

open class CommentsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://shipeasy.ai")
        }
    }

    /**
     * POST /api/admin/ops/{handle}/comments
     * Comment on an item
     * Append a comment to a queue item&#39;s thread. The body is markdown (mentions like &#x60;@teammate&#x60; notify that person; &#x60;@shipeasy&#x60; asks Jarvis, the AI agent, to reply). Pass &#x60;parentId&#x60; to reply under an existing top-level comment (one level of threading — a reply to a reply attaches to the same parent).  Create-only and append-only, so it is safe for restricted ops keys — the same channel the ops loop and Jarvis use to leave a note on an item.
     * @param handle Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
     * @param createOpsCommentRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return CreateOpsCommentResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createOpsComment(handle: kotlin.String, createOpsCommentRequest: CreateOpsCommentRequest, xProjectId: kotlin.String? = null) : CreateOpsCommentResponse = withContext(Dispatchers.IO) {
        val localVarResponse = createOpsCommentWithHttpInfo(handle = handle, createOpsCommentRequest = createOpsCommentRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateOpsCommentResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/admin/ops/{handle}/comments
     * Comment on an item
     * Append a comment to a queue item&#39;s thread. The body is markdown (mentions like &#x60;@teammate&#x60; notify that person; &#x60;@shipeasy&#x60; asks Jarvis, the AI agent, to reply). Pass &#x60;parentId&#x60; to reply under an existing top-level comment (one level of threading — a reply to a reply attaches to the same parent).  Create-only and append-only, so it is safe for restricted ops keys — the same channel the ops loop and Jarvis use to leave a note on an item.
     * @param handle Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
     * @param createOpsCommentRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<CreateOpsCommentResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createOpsCommentWithHttpInfo(handle: kotlin.String, createOpsCommentRequest: CreateOpsCommentRequest, xProjectId: kotlin.String?) : ApiResponse<CreateOpsCommentResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createOpsCommentRequestConfig(handle = handle, createOpsCommentRequest = createOpsCommentRequest, xProjectId = xProjectId)

        return@withContext request<CreateOpsCommentRequest, CreateOpsCommentResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createOpsComment
     *
     * @param handle Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
     * @param createOpsCommentRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun createOpsCommentRequestConfig(handle: kotlin.String, createOpsCommentRequest: CreateOpsCommentRequest, xProjectId: kotlin.String?) : RequestConfig<CreateOpsCommentRequest> {
        val localVariableBody = createOpsCommentRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/admin/ops/{handle}/comments".replace("{"+"handle"+"}", encodeURIComponent(handle.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/ops/{handle}/comments
     * List an item&#39;s comments
     * List the comment thread on a queue item, oldest first. Each comment carries its author (a teammate email, or &#x60;system&#x60; for a comment authored by Jarvis — the AI agent), its markdown body, and &#x60;parentId&#x60; for the single level of threaded replies. Removed comments are omitted.  **Use case:** Read the discussion on an item before replying or acting on it.
     * @param handle Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ListOpsCommentsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listOpsComments(handle: kotlin.String, xProjectId: kotlin.String? = null) : ListOpsCommentsResponse = withContext(Dispatchers.IO) {
        val localVarResponse = listOpsCommentsWithHttpInfo(handle = handle, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListOpsCommentsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/ops/{handle}/comments
     * List an item&#39;s comments
     * List the comment thread on a queue item, oldest first. Each comment carries its author (a teammate email, or &#x60;system&#x60; for a comment authored by Jarvis — the AI agent), its markdown body, and &#x60;parentId&#x60; for the single level of threaded replies. Removed comments are omitted.  **Use case:** Read the discussion on an item before replying or acting on it.
     * @param handle Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<ListOpsCommentsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listOpsCommentsWithHttpInfo(handle: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<ListOpsCommentsResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listOpsCommentsRequestConfig(handle = handle, xProjectId = xProjectId)

        return@withContext request<Unit, ListOpsCommentsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listOpsComments
     *
     * @param handle Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun listOpsCommentsRequestConfig(handle: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/ops/{handle}/comments".replace("{"+"handle"+"}", encodeURIComponent(handle.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
