/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.shipeasy.admin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.shipeasy.admin.models.CreateI18nDraftRequest
import ai.shipeasy.admin.models.Error
import ai.shipeasy.admin.models.I18nDraft
import ai.shipeasy.admin.models.ListI18nDraftsResponseInner
import ai.shipeasy.admin.models.UpdateI18nDraftRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.shipeasy.admin.infrastructure.ApiClient
import ai.shipeasy.admin.infrastructure.ApiResponse
import ai.shipeasy.admin.infrastructure.ClientException
import ai.shipeasy.admin.infrastructure.ClientError
import ai.shipeasy.admin.infrastructure.ServerException
import ai.shipeasy.admin.infrastructure.ServerError
import ai.shipeasy.admin.infrastructure.MultiValueMap
import ai.shipeasy.admin.infrastructure.PartConfig
import ai.shipeasy.admin.infrastructure.RequestConfig
import ai.shipeasy.admin.infrastructure.RequestMethod
import ai.shipeasy.admin.infrastructure.ResponseType
import ai.shipeasy.admin.infrastructure.Success
import ai.shipeasy.admin.infrastructure.toMultiValue

open class DraftsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://shipeasy.ai")
        }
    }

    /**
     * POST /api/admin/i18n/drafts
     * Create a translation draft
     * Stage a new translation draft against a target profile, optionally seeding its keys from a source profile.  **Use case:** Open a machine-translation draft for review before publishing it to a locale.
     * @param createI18nDraftRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return I18nDraft
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createI18nDraft(createI18nDraftRequest: CreateI18nDraftRequest, xProjectId: kotlin.String? = null) : I18nDraft = withContext(Dispatchers.IO) {
        val localVarResponse = createI18nDraftWithHttpInfo(createI18nDraftRequest = createI18nDraftRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as I18nDraft
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/admin/i18n/drafts
     * Create a translation draft
     * Stage a new translation draft against a target profile, optionally seeding its keys from a source profile.  **Use case:** Open a machine-translation draft for review before publishing it to a locale.
     * @param createI18nDraftRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<I18nDraft?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createI18nDraftWithHttpInfo(createI18nDraftRequest: CreateI18nDraftRequest, xProjectId: kotlin.String?) : ApiResponse<I18nDraft?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createI18nDraftRequestConfig(createI18nDraftRequest = createI18nDraftRequest, xProjectId = xProjectId)

        return@withContext request<CreateI18nDraftRequest, I18nDraft>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createI18nDraft
     *
     * @param createI18nDraftRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun createI18nDraftRequestConfig(createI18nDraftRequest: CreateI18nDraftRequest, xProjectId: kotlin.String?) : RequestConfig<CreateI18nDraftRequest> {
        val localVariableBody = createI18nDraftRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/admin/i18n/drafts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/i18n/drafts
     * List translation drafts
     * List staged translation drafts awaiting review/publish.  **Use case:** Review machine-translation drafts before publishing them to a locale.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return kotlin.collections.List<ListI18nDraftsResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listI18nDrafts(xProjectId: kotlin.String? = null) : kotlin.collections.List<ListI18nDraftsResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = listI18nDraftsWithHttpInfo(xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ListI18nDraftsResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/i18n/drafts
     * List translation drafts
     * List staged translation drafts awaiting review/publish.  **Use case:** Review machine-translation drafts before publishing them to a locale.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<kotlin.collections.List<ListI18nDraftsResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listI18nDraftsWithHttpInfo(xProjectId: kotlin.String?) : ApiResponse<kotlin.collections.List<ListI18nDraftsResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listI18nDraftsRequestConfig(xProjectId = xProjectId)

        return@withContext request<Unit, kotlin.collections.List<ListI18nDraftsResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listI18nDrafts
     *
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun listI18nDraftsRequestConfig(xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/i18n/drafts",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/admin/i18n/drafts/{draftId}
     * Update a translation draft
     * Transition a draft&#39;s lifecycle state (&#x60;open&#x60; / &#x60;merged&#x60; / &#x60;abandoned&#x60;).  **Use case:** Mark a reviewed draft as merged, or abandon one that should not ship.
     * @param draftId The draft id to update.
     * @param updateI18nDraftRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return I18nDraft
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateI18nDraft(draftId: kotlin.String, updateI18nDraftRequest: UpdateI18nDraftRequest, xProjectId: kotlin.String? = null) : I18nDraft = withContext(Dispatchers.IO) {
        val localVarResponse = updateI18nDraftWithHttpInfo(draftId = draftId, updateI18nDraftRequest = updateI18nDraftRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as I18nDraft
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/admin/i18n/drafts/{draftId}
     * Update a translation draft
     * Transition a draft&#39;s lifecycle state (&#x60;open&#x60; / &#x60;merged&#x60; / &#x60;abandoned&#x60;).  **Use case:** Mark a reviewed draft as merged, or abandon one that should not ship.
     * @param draftId The draft id to update.
     * @param updateI18nDraftRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<I18nDraft?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateI18nDraftWithHttpInfo(draftId: kotlin.String, updateI18nDraftRequest: UpdateI18nDraftRequest, xProjectId: kotlin.String?) : ApiResponse<I18nDraft?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateI18nDraftRequestConfig(draftId = draftId, updateI18nDraftRequest = updateI18nDraftRequest, xProjectId = xProjectId)

        return@withContext request<UpdateI18nDraftRequest, I18nDraft>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateI18nDraft
     *
     * @param draftId The draft id to update.
     * @param updateI18nDraftRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun updateI18nDraftRequestConfig(draftId: kotlin.String, updateI18nDraftRequest: UpdateI18nDraftRequest, xProjectId: kotlin.String?) : RequestConfig<UpdateI18nDraftRequest> {
        val localVariableBody = updateI18nDraftRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/admin/i18n/drafts/{draftId}".replace("{"+"draftId"+"}", encodeURIComponent(draftId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
