/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.shipeasy.admin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.shipeasy.admin.models.ApproveEventRequest
import ai.shipeasy.admin.models.ApproveEventResponse
import ai.shipeasy.admin.models.CreateEventRequest
import ai.shipeasy.admin.models.CreateEventResponse
import ai.shipeasy.admin.models.DeleteEventResponse
import ai.shipeasy.admin.models.Error
import ai.shipeasy.admin.models.GetEventResponse
import ai.shipeasy.admin.models.ListEventsResponseInner
import ai.shipeasy.admin.models.UpdateEventRequest
import ai.shipeasy.admin.models.UpdateEventResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.shipeasy.admin.infrastructure.ApiClient
import ai.shipeasy.admin.infrastructure.ApiResponse
import ai.shipeasy.admin.infrastructure.ClientException
import ai.shipeasy.admin.infrastructure.ClientError
import ai.shipeasy.admin.infrastructure.ServerException
import ai.shipeasy.admin.infrastructure.ServerError
import ai.shipeasy.admin.infrastructure.MultiValueMap
import ai.shipeasy.admin.infrastructure.PartConfig
import ai.shipeasy.admin.infrastructure.RequestConfig
import ai.shipeasy.admin.infrastructure.RequestMethod
import ai.shipeasy.admin.infrastructure.ResponseType
import ai.shipeasy.admin.infrastructure.Success
import ai.shipeasy.admin.infrastructure.toMultiValue

open class EventsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://shipeasy.ai")
        }
    }

    /**
     * POST /api/admin/events/{id}/approve
     * Approve a pending event
     * Promotes a pending (auto-discovered) event to usable so metrics can query it (&#x60;pending&#x60; → &#x60;0&#x60;).  You may optionally declare the event&#39;s folder, description, or properties in the same call — the body is the same shape as update, and may be empty.  **Use case:** Clear an auto-discovered event out of the pending queue so metrics defined on it start resolving.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param approveEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApproveEventResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun approveEvent(id: kotlin.String, approveEventRequest: ApproveEventRequest, xProjectId: kotlin.String? = null) : ApproveEventResponse = withContext(Dispatchers.IO) {
        val localVarResponse = approveEventWithHttpInfo(id = id, approveEventRequest = approveEventRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ApproveEventResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/admin/events/{id}/approve
     * Approve a pending event
     * Promotes a pending (auto-discovered) event to usable so metrics can query it (&#x60;pending&#x60; → &#x60;0&#x60;).  You may optionally declare the event&#39;s folder, description, or properties in the same call — the body is the same shape as update, and may be empty.  **Use case:** Clear an auto-discovered event out of the pending queue so metrics defined on it start resolving.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param approveEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<ApproveEventResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun approveEventWithHttpInfo(id: kotlin.String, approveEventRequest: ApproveEventRequest, xProjectId: kotlin.String?) : ApiResponse<ApproveEventResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = approveEventRequestConfig(id = id, approveEventRequest = approveEventRequest, xProjectId = xProjectId)

        return@withContext request<ApproveEventRequest, ApproveEventResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation approveEvent
     *
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param approveEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun approveEventRequestConfig(id: kotlin.String, approveEventRequest: ApproveEventRequest, xProjectId: kotlin.String?) : RequestConfig<ApproveEventRequest> {
        val localVariableBody = approveEventRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/admin/events/{id}/approve".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /api/admin/events
     * Register an event
     * Registers a new event name and (optionally) its typed properties. Only &#x60;name&#x60; is required.  If the name matches an existing **pending** (auto-discovered) row, this approves that row instead of returning a conflict. Otherwise an already-registered name returns &#x60;409&#x60;.  **Use cases**  - **Register a known event** — &#x60;{ \&quot;name\&quot;: \&quot;checkout_completed\&quot; }&#x60; so metrics can reference it. - **Declare typed properties** — supply &#x60;properties&#x60; to document the event&#39;s payload shape.
     * @param createEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return CreateEventResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createEvent(createEventRequest: CreateEventRequest, xProjectId: kotlin.String? = null) : CreateEventResponse = withContext(Dispatchers.IO) {
        val localVarResponse = createEventWithHttpInfo(createEventRequest = createEventRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateEventResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/admin/events
     * Register an event
     * Registers a new event name and (optionally) its typed properties. Only &#x60;name&#x60; is required.  If the name matches an existing **pending** (auto-discovered) row, this approves that row instead of returning a conflict. Otherwise an already-registered name returns &#x60;409&#x60;.  **Use cases**  - **Register a known event** — &#x60;{ \&quot;name\&quot;: \&quot;checkout_completed\&quot; }&#x60; so metrics can reference it. - **Declare typed properties** — supply &#x60;properties&#x60; to document the event&#39;s payload shape.
     * @param createEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<CreateEventResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createEventWithHttpInfo(createEventRequest: CreateEventRequest, xProjectId: kotlin.String?) : ApiResponse<CreateEventResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createEventRequestConfig(createEventRequest = createEventRequest, xProjectId = xProjectId)

        return@withContext request<CreateEventRequest, CreateEventResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createEvent
     *
     * @param createEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun createEventRequestConfig(createEventRequest: CreateEventRequest, xProjectId: kotlin.String?) : RequestConfig<CreateEventRequest> {
        val localVariableBody = createEventRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/admin/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/admin/events/{id}
     * Archive an event
     * Soft-deletes (archives) the event. Returns &#x60;409&#x60; if any metric still references it — delete those metrics first.  **Use case:** Retire an event from the catalog once no metric depends on it.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return DeleteEventResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun deleteEvent(id: kotlin.String, xProjectId: kotlin.String? = null) : DeleteEventResponse = withContext(Dispatchers.IO) {
        val localVarResponse = deleteEventWithHttpInfo(id = id, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteEventResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/admin/events/{id}
     * Archive an event
     * Soft-deletes (archives) the event. Returns &#x60;409&#x60; if any metric still references it — delete those metrics first.  **Use case:** Retire an event from the catalog once no metric depends on it.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<DeleteEventResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun deleteEventWithHttpInfo(id: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<DeleteEventResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = deleteEventRequestConfig(id = id, xProjectId = xProjectId)

        return@withContext request<Unit, DeleteEventResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteEvent
     *
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun deleteEventRequestConfig(id: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/admin/events/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/events/{id}
     * Get an event
     * Returns one event&#39;s full detail. Resolves by exact id, unique id-prefix, or exact (unique) name.  **Use case:** Inspect one event&#39;s declared properties and pending state by id or name.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return GetEventResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun getEvent(id: kotlin.String, xProjectId: kotlin.String? = null) : GetEventResponse = withContext(Dispatchers.IO) {
        val localVarResponse = getEventWithHttpInfo(id = id, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetEventResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/events/{id}
     * Get an event
     * Returns one event&#39;s full detail. Resolves by exact id, unique id-prefix, or exact (unique) name.  **Use case:** Inspect one event&#39;s declared properties and pending state by id or name.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<GetEventResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun getEventWithHttpInfo(id: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<GetEventResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = getEventRequestConfig(id = id, xProjectId = xProjectId)

        return@withContext request<Unit, GetEventResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getEvent
     *
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun getEventRequestConfig(id: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/events/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/events
     * List events
     * Returns every catalogued event in the project, including pending auto-discovered names. Each row carries its own &#x60;pending&#x60; flag, so the unapproved queue can be filtered client-side.  **Use case:** Snapshot the event catalog — for example to review the pending auto-discovery queue before approving names, or to confirm which events your metrics can reference.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @return kotlin.collections.List<ListEventsResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listEvents(xProjectId: kotlin.String? = null, q: kotlin.String? = null) : kotlin.collections.List<ListEventsResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = listEventsWithHttpInfo(xProjectId = xProjectId, q = q)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ListEventsResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/events
     * List events
     * Returns every catalogued event in the project, including pending auto-discovered names. Each row carries its own &#x60;pending&#x60; flag, so the unapproved queue can be filtered client-side.  **Use case:** Snapshot the event catalog — for example to review the pending auto-discovery queue before approving names, or to confirm which events your metrics can reference.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @return ApiResponse<kotlin.collections.List<ListEventsResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listEventsWithHttpInfo(xProjectId: kotlin.String?, q: kotlin.String?) : ApiResponse<kotlin.collections.List<ListEventsResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listEventsRequestConfig(xProjectId = xProjectId, q = q)

        return@withContext request<Unit, kotlin.collections.List<ListEventsResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listEvents
     *
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @return RequestConfig
     */
    fun listEventsRequestConfig(xProjectId: kotlin.String?, q: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/admin/events/{id}
     * Update an event
     * Partial update of an event&#39;s folder, description, or properties. &#x60;name&#x60; is immutable.  &#x60;properties&#x60; replaces the full set (no merge) — omit it to leave properties unchanged.  **Use case:** Refile an event, update its description, or redeclare its typed properties.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param updateEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return UpdateEventResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateEvent(id: kotlin.String, updateEventRequest: UpdateEventRequest, xProjectId: kotlin.String? = null) : UpdateEventResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateEventWithHttpInfo(id = id, updateEventRequest = updateEventRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UpdateEventResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/admin/events/{id}
     * Update an event
     * Partial update of an event&#39;s folder, description, or properties. &#x60;name&#x60; is immutable.  &#x60;properties&#x60; replaces the full set (no merge) — omit it to leave properties unchanged.  **Use case:** Refile an event, update its description, or redeclare its typed properties.
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param updateEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<UpdateEventResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateEventWithHttpInfo(id: kotlin.String, updateEventRequest: UpdateEventRequest, xProjectId: kotlin.String?) : ApiResponse<UpdateEventResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateEventRequestConfig(id = id, updateEventRequest = updateEventRequest, xProjectId = xProjectId)

        return@withContext request<UpdateEventRequest, UpdateEventResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateEvent
     *
     * @param id Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
     * @param updateEventRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun updateEventRequestConfig(id: kotlin.String, updateEventRequest: UpdateEventRequest, xProjectId: kotlin.String?) : RequestConfig<UpdateEventRequest> {
        val localVariableBody = updateEventRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/admin/events/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
