/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.shipeasy.admin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.shipeasy.admin.models.CreateMetricRequest
import ai.shipeasy.admin.models.CreateMetricResponse
import ai.shipeasy.admin.models.DeleteMetricResponse
import ai.shipeasy.admin.models.Error
import ai.shipeasy.admin.models.GetMetricResponse
import ai.shipeasy.admin.models.ListMetricsResponseInner
import ai.shipeasy.admin.models.UpdateMetricRequest

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.shipeasy.admin.infrastructure.ApiClient
import ai.shipeasy.admin.infrastructure.ApiResponse
import ai.shipeasy.admin.infrastructure.ClientException
import ai.shipeasy.admin.infrastructure.ClientError
import ai.shipeasy.admin.infrastructure.ServerException
import ai.shipeasy.admin.infrastructure.ServerError
import ai.shipeasy.admin.infrastructure.MultiValueMap
import ai.shipeasy.admin.infrastructure.PartConfig
import ai.shipeasy.admin.infrastructure.RequestConfig
import ai.shipeasy.admin.infrastructure.RequestMethod
import ai.shipeasy.admin.infrastructure.ResponseType
import ai.shipeasy.admin.infrastructure.Success
import ai.shipeasy.admin.infrastructure.toMultiValue

open class MetricsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://shipeasy.ai")
        }
    }

    /**
     * POST /api/admin/metrics
     * Create a metric
     * Creates an event-backed metric. Pass the query as the DSL string (&#x60;query&#x60;) **or** the typed IR (&#x60;query_ir&#x60;) — exactly one. &#x60;event_name&#x60; must equal the event the query references.  Returns &#x60;409&#x60; if a metric with the same &#x60;name&#x60; already exists, and &#x60;422&#x60; if the query is invalid or references an unregistered event / label.  **Use cases**  - **Track an event** — &#x60;count_users(&lt;event&gt;)&#x60; for unique-user counts. - **Sum a value** — &#x60;sum(&lt;event&gt;, &lt;label&gt;)&#x60; for revenue / quantity metrics. - **Experiment success metric** — create the metric, then attach its id to an experiment.
     * @param createMetricRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return CreateMetricResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createMetric(createMetricRequest: CreateMetricRequest, xProjectId: kotlin.String? = null) : CreateMetricResponse = withContext(Dispatchers.IO) {
        val localVarResponse = createMetricWithHttpInfo(createMetricRequest = createMetricRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateMetricResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/admin/metrics
     * Create a metric
     * Creates an event-backed metric. Pass the query as the DSL string (&#x60;query&#x60;) **or** the typed IR (&#x60;query_ir&#x60;) — exactly one. &#x60;event_name&#x60; must equal the event the query references.  Returns &#x60;409&#x60; if a metric with the same &#x60;name&#x60; already exists, and &#x60;422&#x60; if the query is invalid or references an unregistered event / label.  **Use cases**  - **Track an event** — &#x60;count_users(&lt;event&gt;)&#x60; for unique-user counts. - **Sum a value** — &#x60;sum(&lt;event&gt;, &lt;label&gt;)&#x60; for revenue / quantity metrics. - **Experiment success metric** — create the metric, then attach its id to an experiment.
     * @param createMetricRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<CreateMetricResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createMetricWithHttpInfo(createMetricRequest: CreateMetricRequest, xProjectId: kotlin.String?) : ApiResponse<CreateMetricResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createMetricRequestConfig(createMetricRequest = createMetricRequest, xProjectId = xProjectId)

        return@withContext request<CreateMetricRequest, CreateMetricResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createMetric
     *
     * @param createMetricRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun createMetricRequestConfig(createMetricRequest: CreateMetricRequest, xProjectId: kotlin.String?) : RequestConfig<CreateMetricRequest> {
        val localVariableBody = createMetricRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/admin/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/admin/metrics/{id}
     * Archive a metric
     * Soft-deletes (archives) the metric. Returns &#x60;409&#x60; if it is attached to a running experiment — stop those experiments first.  **Use case:** Retire a metric once no running experiment depends on it (the user-facing verb is &#x60;archive&#x60;).
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return DeleteMetricResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun deleteMetric(id: kotlin.String, xProjectId: kotlin.String? = null) : DeleteMetricResponse = withContext(Dispatchers.IO) {
        val localVarResponse = deleteMetricWithHttpInfo(id = id, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteMetricResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/admin/metrics/{id}
     * Archive a metric
     * Soft-deletes (archives) the metric. Returns &#x60;409&#x60; if it is attached to a running experiment — stop those experiments first.  **Use case:** Retire a metric once no running experiment depends on it (the user-facing verb is &#x60;archive&#x60;).
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<DeleteMetricResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun deleteMetricWithHttpInfo(id: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<DeleteMetricResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = deleteMetricRequestConfig(id = id, xProjectId = xProjectId)

        return@withContext request<Unit, DeleteMetricResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteMetric
     *
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun deleteMetricRequestConfig(id: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/admin/metrics/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/metrics/{id}
     * Get a metric
     * Fetch one metric by its id or name, including the rendered DSL query and the typed IR.  **Use case:** Inspect a single metric&#39;s full definition before reusing it in an experiment or alert rule.
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return GetMetricResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun getMetric(id: kotlin.String, xProjectId: kotlin.String? = null) : GetMetricResponse = withContext(Dispatchers.IO) {
        val localVarResponse = getMetricWithHttpInfo(id = id, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetMetricResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/metrics/{id}
     * Get a metric
     * Fetch one metric by its id or name, including the rendered DSL query and the typed IR.  **Use case:** Inspect a single metric&#39;s full definition before reusing it in an experiment or alert rule.
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<GetMetricResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun getMetricWithHttpInfo(id: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<GetMetricResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = getMetricRequestConfig(id = id, xProjectId = xProjectId)

        return@withContext request<Unit, GetMetricResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMetric
     *
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun getMetricRequestConfig(id: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/metrics/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/metrics
     * List metrics
     * Returns every metric in the project (not paginated) — name, folder, source event, the typed &#x60;queryIr&#x60;, and the rendered query.  **Use case:** Audit every metric defined in the project — for example to find the metric id to attach as an experiment&#39;s success metric.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @return kotlin.collections.List<ListMetricsResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listMetrics(xProjectId: kotlin.String? = null, q: kotlin.String? = null) : kotlin.collections.List<ListMetricsResponseInner> = withContext(Dispatchers.IO) {
        val localVarResponse = listMetricsWithHttpInfo(xProjectId = xProjectId, q = q)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ListMetricsResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/metrics
     * List metrics
     * Returns every metric in the project (not paginated) — name, folder, source event, the typed &#x60;queryIr&#x60;, and the rendered query.  **Use case:** Audit every metric defined in the project — for example to find the metric id to attach as an experiment&#39;s success metric.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @return ApiResponse<kotlin.collections.List<ListMetricsResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listMetricsWithHttpInfo(xProjectId: kotlin.String?, q: kotlin.String?) : ApiResponse<kotlin.collections.List<ListMetricsResponseInner>?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listMetricsRequestConfig(xProjectId = xProjectId, q = q)

        return@withContext request<Unit, kotlin.collections.List<ListMetricsResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listMetrics
     *
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @return RequestConfig
     */
    fun listMetricsRequestConfig(xProjectId: kotlin.String?, q: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/admin/metrics/{id}
     * Update a metric
     * Update a metric&#39;s definition — folder, source event, query (&#x60;query&#x60; DSL or typed &#x60;query_ir&#x60;), winsorisation, minimum detectable effect, or direction. &#x60;name&#x60; is immutable. Provide at most one of &#x60;query&#x60; / &#x60;query_ir&#x60;.  **Use case:** Refine a metric&#39;s query or guardrail direction without recreating it.
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param updateMetricRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return GetMetricResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateMetric(id: kotlin.String, updateMetricRequest: UpdateMetricRequest, xProjectId: kotlin.String? = null) : GetMetricResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateMetricWithHttpInfo(id = id, updateMetricRequest = updateMetricRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetMetricResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/admin/metrics/{id}
     * Update a metric
     * Update a metric&#39;s definition — folder, source event, query (&#x60;query&#x60; DSL or typed &#x60;query_ir&#x60;), winsorisation, minimum detectable effect, or direction. &#x60;name&#x60; is immutable. Provide at most one of &#x60;query&#x60; / &#x60;query_ir&#x60;.  **Use case:** Refine a metric&#39;s query or guardrail direction without recreating it.
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param updateMetricRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<GetMetricResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateMetricWithHttpInfo(id: kotlin.String, updateMetricRequest: UpdateMetricRequest, xProjectId: kotlin.String?) : ApiResponse<GetMetricResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateMetricRequestConfig(id = id, updateMetricRequest = updateMetricRequest, xProjectId = xProjectId)

        return@withContext request<UpdateMetricRequest, GetMetricResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateMetric
     *
     * @param id Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
     * @param updateMetricRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun updateMetricRequestConfig(id: kotlin.String, updateMetricRequest: UpdateMetricRequest, xProjectId: kotlin.String?) : RequestConfig<UpdateMetricRequest> {
        val localVariableBody = updateMetricRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/admin/metrics/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
