/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package ai.shipeasy.admin.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import ai.shipeasy.admin.models.CreateGateTemplateRequest
import ai.shipeasy.admin.models.CreateGateTemplateResponse
import ai.shipeasy.admin.models.DeleteGateTemplateResponse
import ai.shipeasy.admin.models.Error
import ai.shipeasy.admin.models.GateTemplate
import ai.shipeasy.admin.models.ListGateTemplatesResponse
import ai.shipeasy.admin.models.UpdateGateTemplateRequest
import ai.shipeasy.admin.models.UpdateGateTemplateResponse

import com.squareup.moshi.Json

import kotlinx.coroutines.Dispatchers
import kotlinx.coroutines.withContext
import ai.shipeasy.admin.infrastructure.ApiClient
import ai.shipeasy.admin.infrastructure.ApiResponse
import ai.shipeasy.admin.infrastructure.ClientException
import ai.shipeasy.admin.infrastructure.ClientError
import ai.shipeasy.admin.infrastructure.ServerException
import ai.shipeasy.admin.infrastructure.ServerError
import ai.shipeasy.admin.infrastructure.MultiValueMap
import ai.shipeasy.admin.infrastructure.PartConfig
import ai.shipeasy.admin.infrastructure.RequestConfig
import ai.shipeasy.admin.infrastructure.RequestMethod
import ai.shipeasy.admin.infrastructure.ResponseType
import ai.shipeasy.admin.infrastructure.Success
import ai.shipeasy.admin.infrastructure.toMultiValue

open class TemplatesApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://shipeasy.ai")
        }
    }

    /**
     * POST /api/admin/gates/templates
     * Create a gate template
     * Creates a per-project (customer) targeting-rule template. Built-ins are read-only and cannot be created here. Returns &#x60;409&#x60; if a template with this &#x60;name&#x60; already exists in the project.
     * @param createGateTemplateRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return CreateGateTemplateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun createGateTemplate(createGateTemplateRequest: CreateGateTemplateRequest, xProjectId: kotlin.String? = null) : CreateGateTemplateResponse = withContext(Dispatchers.IO) {
        val localVarResponse = createGateTemplateWithHttpInfo(createGateTemplateRequest = createGateTemplateRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreateGateTemplateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /api/admin/gates/templates
     * Create a gate template
     * Creates a per-project (customer) targeting-rule template. Built-ins are read-only and cannot be created here. Returns &#x60;409&#x60; if a template with this &#x60;name&#x60; already exists in the project.
     * @param createGateTemplateRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<CreateGateTemplateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun createGateTemplateWithHttpInfo(createGateTemplateRequest: CreateGateTemplateRequest, xProjectId: kotlin.String?) : ApiResponse<CreateGateTemplateResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = createGateTemplateRequestConfig(createGateTemplateRequest = createGateTemplateRequest, xProjectId = xProjectId)

        return@withContext request<CreateGateTemplateRequest, CreateGateTemplateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createGateTemplate
     *
     * @param createGateTemplateRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun createGateTemplateRequestConfig(createGateTemplateRequest: CreateGateTemplateRequest, xProjectId: kotlin.String?) : RequestConfig<CreateGateTemplateRequest> {
        val localVariableBody = createGateTemplateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/admin/gates/templates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /api/admin/gates/templates/{id}
     * Delete a gate template
     * Soft-deletes (archives) a **customer** template. Returns &#x60;409&#x60; if &#x60;id&#x60; names a read-only built-in template.
     * @param id Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return DeleteGateTemplateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun deleteGateTemplate(id: kotlin.String, xProjectId: kotlin.String? = null) : DeleteGateTemplateResponse = withContext(Dispatchers.IO) {
        val localVarResponse = deleteGateTemplateWithHttpInfo(id = id, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteGateTemplateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /api/admin/gates/templates/{id}
     * Delete a gate template
     * Soft-deletes (archives) a **customer** template. Returns &#x60;409&#x60; if &#x60;id&#x60; names a read-only built-in template.
     * @param id Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<DeleteGateTemplateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun deleteGateTemplateWithHttpInfo(id: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<DeleteGateTemplateResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = deleteGateTemplateRequestConfig(id = id, xProjectId = xProjectId)

        return@withContext request<Unit, DeleteGateTemplateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteGateTemplate
     *
     * @param id Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun deleteGateTemplateRequestConfig(id: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/admin/gates/templates/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/gates/templates/{id}
     * Get one gate template
     * Returns a single template by its &#x60;id&#x60; — a built-in slug (&#x60;country&#x60;) or a customer &#x60;gtpl_…&#x60; id.
     * @param id Built-in slug (&#x60;country&#x60;) or customer template id (&#x60;gtpl_…&#x60;).
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return GateTemplate
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun getGateTemplate(id: kotlin.String, xProjectId: kotlin.String? = null) : GateTemplate = withContext(Dispatchers.IO) {
        val localVarResponse = getGateTemplateWithHttpInfo(id = id, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GateTemplate
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/gates/templates/{id}
     * Get one gate template
     * Returns a single template by its &#x60;id&#x60; — a built-in slug (&#x60;country&#x60;) or a customer &#x60;gtpl_…&#x60; id.
     * @param id Built-in slug (&#x60;country&#x60;) or customer template id (&#x60;gtpl_…&#x60;).
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<GateTemplate?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun getGateTemplateWithHttpInfo(id: kotlin.String, xProjectId: kotlin.String?) : ApiResponse<GateTemplate?> = withContext(Dispatchers.IO) {
        val localVariableConfig = getGateTemplateRequestConfig(id = id, xProjectId = xProjectId)

        return@withContext request<Unit, GateTemplate>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGateTemplate
     *
     * @param id Built-in slug (&#x60;country&#x60;) or customer template id (&#x60;gtpl_…&#x60;).
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun getGateTemplateRequestConfig(id: kotlin.String, xProjectId: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/gates/templates/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /api/admin/gates/templates
     * List gate templates
     * Returns the merged targeting-rule template catalog — read-only **built-ins first** (the &#x60;@team&#x60;/&#x60;@owner&#x60; audience aliases, country, email-domain, region presets, …), then this project&#39;s **customer** templates. Each item carries a &#x60;rules: [{ attr, op, value }]&#x60; definition; the alias templates carry a symbol value (&#x60;email in [\&quot;@team\&quot;]&#x60;) that the SDK expands to the resolved email list at rebuild.  **Turn \&quot;launch X in country Y\&quot; into a gated flag:** list templates (optionally with &#x60;q&#x60;), take the matching template&#39;s &#x60;rules&#x60;, substitute the concrete value(s), and pass them as the &#x60;rules&#x60; arg of &#x60;release_flags_create&#x60;.  The catalog is small and bounded, so the full merged set is returned in one page — this endpoint is **not** paginated (&#x60;next_cursor&#x60; is always &#x60;null&#x60;; there are no &#x60;limit&#x60;/&#x60;cursor&#x60; params).
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @param query Deprecated alias for &#x60;q&#x60;, kept working for one release. Prefer &#x60;q&#x60;. (optional)
     * @return ListGateTemplatesResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun listGateTemplates(xProjectId: kotlin.String? = null, q: kotlin.String? = null, query: kotlin.String? = null) : ListGateTemplatesResponse = withContext(Dispatchers.IO) {
        val localVarResponse = listGateTemplatesWithHttpInfo(xProjectId = xProjectId, q = q, query = query)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListGateTemplatesResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /api/admin/gates/templates
     * List gate templates
     * Returns the merged targeting-rule template catalog — read-only **built-ins first** (the &#x60;@team&#x60;/&#x60;@owner&#x60; audience aliases, country, email-domain, region presets, …), then this project&#39;s **customer** templates. Each item carries a &#x60;rules: [{ attr, op, value }]&#x60; definition; the alias templates carry a symbol value (&#x60;email in [\&quot;@team\&quot;]&#x60;) that the SDK expands to the resolved email list at rebuild.  **Turn \&quot;launch X in country Y\&quot; into a gated flag:** list templates (optionally with &#x60;q&#x60;), take the matching template&#39;s &#x60;rules&#x60;, substitute the concrete value(s), and pass them as the &#x60;rules&#x60; arg of &#x60;release_flags_create&#x60;.  The catalog is small and bounded, so the full merged set is returned in one page — this endpoint is **not** paginated (&#x60;next_cursor&#x60; is always &#x60;null&#x60;; there are no &#x60;limit&#x60;/&#x60;cursor&#x60; params).
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @param query Deprecated alias for &#x60;q&#x60;, kept working for one release. Prefer &#x60;q&#x60;. (optional)
     * @return ApiResponse<ListGateTemplatesResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun listGateTemplatesWithHttpInfo(xProjectId: kotlin.String?, q: kotlin.String?, query: kotlin.String?) : ApiResponse<ListGateTemplatesResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = listGateTemplatesRequestConfig(xProjectId = xProjectId, q = q, query = query)

        return@withContext request<Unit, ListGateTemplatesResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listGateTemplates
     *
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @param q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything. (optional)
     * @param query Deprecated alias for &#x60;q&#x60;, kept working for one release. Prefer &#x60;q&#x60;. (optional)
     * @return RequestConfig
     */
    fun listGateTemplatesRequestConfig(xProjectId: kotlin.String?, q: kotlin.String?, query: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (q != null) {
                    put("q", listOf(q.toString()))
                }
                if (query != null) {
                    put("query", listOf(query.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/admin/gates/templates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /api/admin/gates/templates/{id}
     * Update a gate template
     * Partial update of a **customer** template. &#x60;rules&#x60; replaces the list wholesale. Returns &#x60;409&#x60; if &#x60;id&#x60; names a read-only built-in template.
     * @param id Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
     * @param updateGateTemplateRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return UpdateGateTemplateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    suspend fun updateGateTemplate(id: kotlin.String, updateGateTemplateRequest: UpdateGateTemplateRequest, xProjectId: kotlin.String? = null) : UpdateGateTemplateResponse = withContext(Dispatchers.IO) {
        val localVarResponse = updateGateTemplateWithHttpInfo(id = id, updateGateTemplateRequest = updateGateTemplateRequest, xProjectId = xProjectId)

        return@withContext when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UpdateGateTemplateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /api/admin/gates/templates/{id}
     * Update a gate template
     * Partial update of a **customer** template. &#x60;rules&#x60; replaces the list wholesale. Returns &#x60;409&#x60; if &#x60;id&#x60; names a read-only built-in template.
     * @param id Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
     * @param updateGateTemplateRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return ApiResponse<UpdateGateTemplateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    suspend fun updateGateTemplateWithHttpInfo(id: kotlin.String, updateGateTemplateRequest: UpdateGateTemplateRequest, xProjectId: kotlin.String?) : ApiResponse<UpdateGateTemplateResponse?> = withContext(Dispatchers.IO) {
        val localVariableConfig = updateGateTemplateRequestConfig(id = id, updateGateTemplateRequest = updateGateTemplateRequest, xProjectId = xProjectId)

        return@withContext request<UpdateGateTemplateRequest, UpdateGateTemplateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateGateTemplate
     *
     * @param id Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
     * @param updateGateTemplateRequest 
     * @param xProjectId Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it). (optional)
     * @return RequestConfig
     */
    fun updateGateTemplateRequestConfig(id: kotlin.String, updateGateTemplateRequest: UpdateGateTemplateRequest, xProjectId: kotlin.String?) : RequestConfig<UpdateGateTemplateRequest> {
        val localVariableBody = updateGateTemplateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        xProjectId?.apply { localVariableHeaders["X-Project-Id"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/api/admin/gates/templates/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
